{% load i18n %}

<head>
</head>

<body>
  <h3 class="column-align">
    {% trans "Most Relevant Projects" %}
  </h3>
  </a>
  <ul class="message-list">
    {% for project in projects %}
      <li class="preview-message">
        <a href="/taiga/project/{{project.slug}}">
          <span class="label label-primary">
            {{project.title}}
          </span>
          <span class="subject">
            {{project.description|escape|truncatechars:150 }}
          </span>
        </a>
        <div class="quiet">
          {% if project.owner %}
            <span class="pull-left">
                {% trans "owner" %}
                {{ project.owner.full_name }}
            </span>
          {% else %}
            <span class="pull-left">{% trans "owner" %} {% trans "Anonymous" %}</span>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</body>
